@import "bootstrap";

// File to set global css settings and import scss files from other sections in right order

$black: #272727;
$blue-light: #F7F9FB;
$gray: #7D7C83;
$orange: #F49E4C;
$orange-dark: #E06D00;
$red: #EB5757;
$blue: #118AB2;

html {
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
    outline-width: 0;
}

ul, li{
    list-style-type: none;
}

button {
    border: 0;
    background-color: transparent;
}

body{
    background-color: $blue-light;
    height: 2500px;
    margin-top: 148px;
    @include media-breakpoint-down(sm) {
        margin-top: 51px;
    }
}

.plug{
    height: 800px;
    width: 100%;
    background-color: green;
}
#news{
    height: 800px;
    width: 100%;
    background-color: yellow;
}
#technologies{
    height: 800px;
    width: 100%;
    background-color: blue;
}

@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}
// import helpers

@import "helpers/hamburger.scss";

// import files from sections

@import "sections/header.scss";
@import "sections/slider-form.scss";

