.footer{
    &__container{
        min-height: 114px;
        background-color: $blue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
    }
    &__text{
        font-size: rem-calc(18);
        font-weight: 700;
        color: white;
    }
}