.header{
    &__fixed-container{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $blue-light;
        z-index: 10;
        border-bottom: 1px solid transparent;
    }
    &__container{
        position: relative;
        margin: 50px auto;
        padding: 0 108px 0 15px;
        max-width: 1319px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: margin 0.2s linear;
        @include media-breakpoint-down(md) {
            height: 51px;
            margin: 0 !important;
            padding: 15px 25px;
        }
        @include media-breakpoint-up(md) {
            &--shrink{
                margin: 20px auto;
                transition: margin 0.2s linear;
            }
        }

    }
    &__tag-icon{
        width: 48px;
        height: 48px;
        @include media-breakpoint-down(md) {
            height: 20px;
            width: 20px;
        }
    }
    &__title{
        display: flex;
        font-size: rem-calc(36);
        font-weight: 700;
        margin: 0;
        @include media-breakpoint-down(md) {
              height: 24px;          
        }
    }
    &__nav-container{
        display: flex;
        align-items: center;
    }
    
    &__desktop-menu{
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__mobile-menu{
        display: flex;
        margin: 0;
        padding-inline-start: 0;
        position: fixed;
        top: -100%;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        z-index: -1;
        flex-direction: column;
        transition: top 0.3s ease-in-out;
        &--active{
            transition: top 0.3s ease-in-out;
            top: 0;
        }
    }
    &__contrast-button-icon{
        margin-right: 2px;
        &:hover, &:focus{
            .header__contrast-icon{
                transition: fill .3s ease-in-out;
                fill: $orange-dark
            }
        }
    }
    &__contrast-icon{
        width: 20px;
        height: 12.5px;
        transition: fill 0.3s ease-in-out;
    }
    &__menu-item{
        font-weight: 600;
        color: $black;
        margin-left: 40px;
        position: relative;
        transition: color .3s ease-in-out;
        padding-bottom: 7px;
        &:after{
            content: "";
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange-dark;
            width: 50%;
            height: 2px;
            transition: opacity .3s ease-in-out;
        }
        &--active, &:hover, &:focus{
            transition: color .3s ease-in-out;
            color: $orange-dark;
            &:after{
                opacity: 1;
            }
        }
    }
}