.publications{
    &__header{
        font-size: rem-calc(36);
        font-weight: 700;
        margin-top: 74px;
        text-align: center;
        @include media-breakpoint-down(sm) {
            font-size: rem-calc(30);
        }
    }
    &__container{
        max-width: 1072px;
        margin: 0 auto;
        min-height: 800px;
        margin-bottom: 64px;
    }
    &__inner-container{
        position: relative;
        min-height: 800px;
    }
    &__release{
        margin-bottom: 25px;
    }
    &__release-header{
        display: flex;
    }
    &__release-commas-icon{
        width: 30px;
        height: 23px;
        margin-right: 14px;
    }
    &__release-title{
        font-size: rem-calc(24);
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-size: rem-calc(18);
        }
    }
    &__release-date{
        font-size: rem-calc(14);
        margin-bottom: 12px;
    }
    &__release-teaser{
        width: 100%;
        height: 145px;
        object-fit: cover;
        margin-bottom: 8px;
        @include media-breakpoint-down(sm) {
            height: 92px;
        }
        @include media-breakpoint-up(md) {
            &--big{
                height: 290px;
            }
        }
    }
    &__release-content{
        a{
            color: $orange-dark;
        }
    }
    &__loader{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__load-more{
        display: block;
        margin: 0 auto;
        color: $orange;
        font-weight: 700;
        transition: color .2s ease-in-out;
        &:hover, &:focus{
            color: $orange-dark;
            transition: color .2s ease-in-out;
            .publications__load-more-icon{
                fill: $orange-dark;
                transition: fill .2s ease-in-out;
            }
        }
    }
    &__load-more-icon{
        fill: $orange;
        width: 25px;
        height: 25px;
        transition: fill .2s ease-in-out;
    }
}