.slider-form{
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    min-height: 680px;
    margin: 0 15px;
    transition: min-height 0.3s ease-in-out;
    @include media-breakpoint-down(md) {
        min-height: 550px;
        transition: min-height 0.3s ease-in-out;
    }
    
    &__container{
        margin: 0 auto;
        max-width: 1319px;
    }
    @include media-breakpoint-down(md) {
        margin: 0;
        border-radius: 0;
    }
}
.slider {
    &__container{
        padding: 0;
        position: relative;
        @include media-breakpoint-down(md) {
            min-height: 400px;
        }
        @include media-breakpoint-down(xs) {
            min-height: 273px;
        }
    }
    &__toggle-autoplay{
        position: absolute;
        top:40px;
        right: 40px;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.2s ease-in-out;
        &:hover, &:focus{
            transition: border-color 0.2s ease-in-out;
            border-color: $orange-dark;
            & > .slider__toggle-autoplay--play {
                border-color: transparent transparent transparent $orange-dark;
                transition: border-color 0.2s ease-in-out;
            }
            & > .slider__toggle-autoplay--pause {
                border-color: $orange-dark;
                transition: border-color 0.2s ease-in-out;
            }
        }
        &--play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            margin-left: 3px;
            border-width: 10px 0px 10px 20px;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            
        }
        &--pause{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 20px;
            border-style: double;
            border-width: 0 0 0 16px;
            border-color: #fff;
        }
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        &--active{
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }
        @include media-breakpoint-down(md) {
            border-radius: 0;
        }
    }
    &__dots-container{
        position: absolute;
        bottom: 21px;
        right: 50%;
        transform: translateX(50%);
        height: 5px;
        display: flex;
        @include media-breakpoint-down(md) {
            bottom: 10px;
        }
    }
    &__dot{
        width: 60px;
        height: 5px;
        border-radius: 5px;
        margin-right: 30px;
        background-color: white;
        border: 1px solid transparent;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
        &:last-of-type{
            margin-right: 0;
        }
        &--active{
            background-color: $blue-light;
        }
        &:hover, &:focus {
            border: 1px solid $orange;
        }
    }
}

.form{
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-radius: 0 20px 20px 0;
        @include media-breakpoint-down(sm) {
            border-right: 0;
            border-radius: 0;
        }
        
    }
    &__header{
        font-size: rem-calc(36);
        font-weight: 700;
        text-align: center;
        @include media-breakpoint-down(sm) {
            font-size: rem-calc(30);
        }
    }
    &__text-separator{
        text-align: center;
        color: $gray;
        margin: 1rem 0;
    }
    &__line-separator{
        width: 73px;
        height: 2px;
        background-color: $orange;
    }
    &__button-primary{
        width: 230px;
        height: 40px;
        border-radius: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $orange;
        transition: background-color .2s ease-in-out;
        margin: 0 auto;
        &:hover, &:focus{
            background-color: $orange-dark;
            transition: background-color .2s ease-in-out;
        }
    }
    &__button-secondary{
        width: 230px;
        height: 40px;
        border-radius: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $orange;
        border: 2px solid #F49E4C;
        background-color: white;
        margin: 0 auto;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        &:hover, &:focus{
            background-color: $orange;
            color: white;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
        }
    }
    &__text-input-container{
        position: relative;
    }
    &__validate{
        .form__text-input:invalid{
            border-color: $red;
            transition: border-color .2s ease-in-out;
            & ~ .form__text-error{
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
        }
        .form__checkbox-input:invalid{
            & ~ .form__checkbox-checkbox{
                background-color: $red;
                transition: background-color .2s ease-in-out;
            }
            & ~ .form__text-error{
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
        }
    }
    &__text-input{
        width: 300px;
        height: 50px;
        // margin-bottom: 30px;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 20px;
        transition: border-color .2s ease-in-out;
        &:focus {
            border-color: $orange;
            transition: border-color .2s ease-in-out;
            & ~ .form__text-placeholder{
                top: -11px;
                transition: top .2s ease-in-out;
            }
        }
        &:not(:placeholder-shown){
            & ~ .form__text-placeholder{
                top: -11px;
                transition: top .2s ease-in-out;
            }
        }
        &:hover{
            border-color: $orange;
            transition: border-color .2s ease-in-out;
        }
    }
    &__text-placeholder{
        position: absolute;
        top: 14px;
        padding: 0 7px;
        color: $gray;
        margin: 0;
        font-size: rem-calc(14);
        font-weight: 300;
        left: 13px;
        background-color: #fff;
        transition: top .2s ease-in-out;
    }
    &__text-error{
        position: absolute;
        left: 20px;
        bottom: -20px;
        color: $red;
        margin: 0;
        font-size: rem-calc(12);
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &__show-password-button{
        position: absolute;
        top: 11px;
        right: 11px;
        &:hover, &:focus{
            .form__show-password-icon{
                fill: $orange;
                transition: fill 0.2s ease-in-out;
            }
        }
    }
    &__show-password-icon{
        width: 20px;
        height: 12.5px;
        transition: fill 0.2s ease-in-out;
    }

    &__swich-container{
        display: flex;
        font-size: rem-calc(14);
        position: relative;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    &__swich-checkbox{
        position: absolute;
        top: 3px;
        left: 10px;
        &:checked{
            & ~ .form__swich-label{
                .form__swich-icon{
                    background-color: $orange;
                    transition: background-color 0.2s ease-in-out;
                    &:after{
                        content: '';
                        left: 26px;
                        transition: left 0.2s ease-in-out;
                    }
                }
            }
        }
        &:hover, &:focus{
            & ~ .form__swich-label{ 
                    .form__swich-icon{
                        border: 2px solid $orange;
                        transition: border-color 0.2s ease-in-out;
                    }
                }
            }
    }
    &__swich-icon{
        width: 49px;
        height: 24px;
        border-radius: 12px;
        background-color: $gray;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        border: 2px solid white;
        cursor: pointer;
        position: relative;
        display: block;
        margin-right: 14px;
        &:after{
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background-color: #fff;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
            transition: left 0.2s ease-in-out;
        }
    }
    &__swich-label{
        cursor: pointer;
        font-size: rem-calc(14);
        display: flex;
    }

    &__link{
        font-weight: 700;
        color: $orange;
        margin: 0 auto;
        transition: color .2s ease-in-out;
        &:hover, &:focus{
            color: $orange-dark;
            transition: color .2s ease-in-out;
        }
    }
    &__checkbox-container{
        width: 300px;
        display: flex;
        position: relative;
        margin-bottom: 30px;
        &:hover{
            .form__checkbox-checkbox{
                background-color: $orange-dark;
                transition: color .2s ease-in-out;
            }
        }
    }
    &__checkbox-input{
        position: absolute;
        top: 3px;
        left: -30px;
        opacity: 0;
        transition: background-color .2s ease-in-out;
        &:focus{
            & ~ .form__checkbox-label {
                .form__checkbox-checkbox{
                    background-color: $orange-dark;
                    transition: background-color .2s ease-in-out;
                }
            }
        }
        &:checked{
            & ~ .form__checkbox-label {
                .form__checkbox-checkbox:after{
                display: block;
                }
            }   
        }
    }
    &__checkbox-checkbox{
        background: $orange;
        border-radius: 5px;
        min-width: 20px;
        display: block;
        height: 20px;
        margin: 8px 11px 0 0;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
        &:after{
            display: none;
            content: "";
            position: relative;
            top: 3px;
            left: 7px;
            width: 7px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        &:hover{
            background-color: $orange-dark;
            transition: color .2s ease-in-out;
        }
        
    }
    &__checkbox-label{
        cursor: pointer;
        display: flex;
        margin: 0;
        &:hover{
            .form__checkbox-checkbox{
                background-color: $orange-dark;
                transition: color .2s ease-in-out;
            }
        }
    }
}