.technologies{
    &__container{
        max-width: 985px;
        margin: 0 auto;
    }
    &__header{
        font-size: rem-calc(36);
        font-weight: 700;
        margin-top: 74px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__tiles-container{
        display: flex;
        margin: 0 15px;
        overflow-y: auto;
        padding-bottom: 35px;
    }
    &__tile{
        background: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding: 36px 20px 0 20px;
        height: 225px;
        min-width: 220px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-of-type(4){
            margin-right: 0;
        }
        &:hover, &:focus{
            .technologies__tile-separator{
                background-color: $orange;
                transition: background-color .2s ease-in-out;
            }
            .technologies__tile-icon{
                &--webpack{
                    fill: #1d78c1;
                    transition: fill .2s ease-in-out;
                }
                &--js{
                    fill: #D9A630;
                    transition: fill .2s ease-in-out;
                }
                &--npm{
                    fill: #EB5757;
                    transition: fill .2s ease-in-out;
                }
                &--html{
                    fill: #DA5131;
                    transition: fill .2s ease-in-out;
                }
            }
        }
    }
    &__tile-icon{
        width: 80px;
        height: 70px;
        margin-bottom: 15px;
        transition: fill .2s ease-in-out;
    }
    &__tile-separator{
        width: 25px;
        height: 2px;
        background-color: black;
        transition: background-color .2s ease-in-out;
        margin-bottom: 16px;
    }
    &__tile-label{
        font-size: rem-calc(18);
        font-weight: 700;
        color: black;
        text-align: center;
    }
}